services:
  - type: web
    name: bsf-larvae-monitoring
    runtime: python
    repo: https://github.com/Amaza-Ronald/soldier-fly-display
    branch: main
    plan: free
    region: oregon
    buildCommand: pip install -r requirements.txt;
    startCommand: gunicorn wsgi:app
    envVars:
      - key: DATABASE_URL
        value: "postgresql://bsf_user:dQ5VfLVw3eLsp9aYSw01Eyn7gxu3GDDx@dpg-d4lg6ha4d50c73e2llq0-a.oregon-postgres.render.com/bsf_larvae"
      - key: PYTHON_VERSION
        value: 3.11.0
